body { margin: 0; padding: 0; background: #F6F6F6; font-size: 13px; text-align: justify;}
body, th, td, input, textarea, select, option { font-family: Arial, Helvetica, sans-serif; color: #83826A; font-size: 11px; border-top-width: 1px; border-top-style: dotted; border-top-color: #6ea1cf; padding-top: 1px; padding-bottom: 1px; padding-left: 3px;}
h1, h2, h3 { font-family: Arial, Helvetica, sans-serif; font-weight: normal; color: #6ea1cf;}
h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 18px;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	margin: 15px 0px;
 	padding: 5px 7px 5px 40px;  	
    font-weight: normal;
	font-size: 17px;
	line-height: 1.6em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;		
	color: #66A342;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #6ea1cf;
	text-decoration: underline;
}

a:hover {
	color: #6ea1cf;
	text-decoration: none;
}

hr {
	display: none;
}

/* Header */

#header {
	width: 920px;
	height: 50px;
	margin: 0 auto;
}

#header h1, #header p {
	padding: 0;
	margin-top: 20;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

#header h1 {
	font-size: 20px;
	color: #211d70;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}

#header p {
	margin-top: -7px;
	font-size: 14px;
	font-weight: normal;
	color: #211d70;
	text-transform: lowercase;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#header a {
	text-decoration: none;
	color: #F79F1A;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px;
	background-image: url(../images/img02.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}

#page-bgtop {
	background: url(../images/img01.jpg) no-repeat left top;
	margin: 0px;
	padding: 0px;
}

#page-bgbtm {
	background: url(../images/img03.jpg) no-repeat left bottom;
	padding: 30px 40px 30px 30px;
}

/* Content */

#content {
	float: right;
	width: 660px;
	margin: 0;
	padding-top: 30px;
	color: #666666;
}

.post {
	padding: 0px 0 20px 0;
}

.title {
	margin: 0px;
	padding-bottom: 25px;
	background: url(../images/img05.jpg) repeat-x left bottom;
	color: #6ea1cf;
}

.title a {
	text-decoration: underline;	color: #6ea1cf;}

.pagetitle {
}

.byline {
	margin-top: -25px;
	padding: 0px;
	color: #6ea1cf;
}

.meta {
	margin-right: 20px;
}

.meta .more {
	display: block;
	width: 120px;
	height: 26px;
	padding: 2px 0px 0px 0px;
	background: url(../images/img06.jpg) no-repeat left top;
	text-align: center;
}

.meta .comments {
	float: left;
	width: 120px;
	height: 26px;
	padding: 2px 0px 0px 0px;
	background: url(../images/img06.jpg) no-repeat left top;
	text-align: center;
}

.meta a {
	text-decoration: none;
	color: #787872;
}

.navigation {
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.posts li {
}

.posts h3 {
	margin: 0;
	font-weight: bold;
}

.posts p {
	margin: 0;
	line-height: normal;
}

.posts a {
}

.entry {
	margin: 0;
	padding-bottom: 20px;
}

.last {
	border: none;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
	margin-bottom: 10px;
	color: #FFFFFF;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 40px;
	padding: 0px 15px;
}

#sidebar li li {
	margin: 0 0 0 0;
	padding: 0 10px;
	line-height: 20px;
	border-bottom: 1px #A3F389 dashed;
}

#sidebar li li:hover {
	background-color: #6EA1D0;
}

#sidebar h2 {
	width: 185px;
	height: 32px;
	padding: 6px 0px 0px 15px;
	background: url(../images/img04.jpg) no-repeat left top;
	font-size: 18px;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #FFFFFF;
}

#sidebar a:hover {
	text-decoration: none;
}

/* Search */

#search input {
	display: none;
}

#search input#s { display: block; width: 230px; padding: 2px 5px; border: 1px solid #3DD1FF;}
#search br { display: none;}

/* Calendar */

#calendar {
}

#calendar h2 {
	margin-bottom: 15px;
}

#calendar table {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#calendar caption {
	width: 100%;
	text-align: center;
}

#next {
	text-align: right;
}

#prev {
	text-align: left;
}

/* Footer */

#footer { width: 800px; margin: 0 auto;	height: 50px; text-align: center; font-size: 11px; font-family: Arial, Helvetica, sans-serif; color: #86EA66; margin-bottom: 27px;}
#footer p { padding-top: 15px;}
#footer p a { color: #86EA66;}
img { border: none; }
img.left { float: left; margin: 3px 20px 30px 0px;}
img.right { float: right;margin: 3px 0px 10px 30px;}

/** RULES FOR TABLE **/
.entry table{}
.entry table tbody{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; padding: 5px; border: 1px solid #74949C;}
.entry table th{ background-color:#74D1F6; font-family: Arial, Helvetica, sans-serif;font-size: 11px; color: #FFFFFF; text-align: left; padding-top: 5px; padding-bottom: 5px;	padding-left: 3px;}
.entry table tbody td{ border-right-width: 0px;	border-left-width: 0px;	border-right-style: none; border-left-style: none; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; padding-top: 3px; padding-bottom: 3px; padding-left: 5px; }

.odd{ background-color:#FFFFFF}
.even{ background-color: #F0F0F0;}
.over{background-color: #90daf8; color: #ffffff;}

.entry table tbody td input{border: 1px solid #6ea1cf;background-color: #FFF;padding: 2px;}
.entry table tbody td input:focus{border: 1px solid #6ea1cf;background-color: #F0F0F0;}
.entry table tbody td textarea{ border: 1px solid #6EA1CF;font-family: Arial, Helvetica, sans-serif; font-size: 11px;}
.post .entry #radio{ border: 1px solid 6ea1cf; background-color: #FFFFFF;}
.entry table tfoot td{}
.entry table tfoot td button{ border: 1px solid #6EA1CF; color: #74D1F6; font-size: 10px; display: block; height: 20px; text-align: center; width: 90px; font-family: Arial, Helvetica, sans-serif; margin-top: 5px; margin-right: 0px;	margin-bottom: 5px;	margin-left: 0px; font-weight: bold;	background-color: #FFFFFF;}

/** WARNING MESSAGE **/
.j_warning {border:solid 1px #CC3333!important; background-color:#FFCCCC!important; color:#CC3333!important;}
.post .entry .text_over_table {	margin-bottom: 10px;}
.j_edit {
	background-image:url(../images/edit.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 24px;
	width: 24px;
	display: block;
}
.j_delete {	background-image:url(../images/delete.png); background-repeat: no-repeat; background-position: center center; height: 24px; width: 24px; display: block;}
.j_view {	background-image:url(../images/view.png); background-repeat: no-repeat; background-position: center center; height: 24px; width: 24px; display: block;}
