.main .wraper .header {

}
.active{
	color: #FFFFFF!important;
	background-color: #74d1f6!important;
}
.main_content .projects_imgs {
	width: 620px;
	margin-left: 0px;
}

.main .wraper .header .logo {
	background-image: url(../images/main_logo.jpg);
	background-repeat: no-repeat;
	height: 263px;
	width: 285px;
	margin-left: 10px;
	float: left;
}
body {
	background-color: #3333CC;
	background-image: url(../images/main_bg.jpg);
	background-repeat: repeat;
}
.wraper .header .banner {
	float: left;
	height: 253px;
	width: 642px;
	margin-left: 3px;
	padding-top: 10px;
	background-color: #FFFFFF;
	position: relative;
}
.main .wraper {
	background-color: #FFFFFF;
	width: 950px;
	top: 50px;
	float: left;
}
.wraper .nav_corporate {
	background-image: url(../images/main_link_corporate.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 285px;
	margin-left: 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 7px;
}
.wraper .nav {

}
.wraper .lang_srb {
	height: 28px;
	width: 39px;
	float: left;
}
.wraper .lang_eng {
	height: 28px;
	width: 36px;
	float: left;
}
.wraper .news {
	float: left;
	width: 285px;
	margin-left: 10px;
	margin-bottom: 100px;
}
.wraper .news .news_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	height: 25px;
	width: 265px;
	margin-left: 15px;
	margin-top: 25px;
	font-weight: bold;
}
.plavi_text {
	color: #74D1F6;
}
.main_content .address {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	float: left;
	width: 210px;
	height: 300px;
	line-height: 16px;
	margin-left: 3px;
}
.main_content .contact_form {
	float: left;
	width: 360px;
	margin-left: 20px;
}

.wraper .news .news_date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #999999;
	float: left;
	height: 20px;
	width: 60px;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.wraper .news .news_text_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	float: left;
	width: 180px;
	margin-top: 20px;
	margin-left: 3px;
	margin-bottom: 10px;
}
.wraper .news .news_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #000000;
	text-decoration: none;
	width: 185px;
	margin-left: 77px;
	float: left;
}
.wraper .news .latest_news {
	float: left;
	width: 275px;
	margin-top: 10px;
}
.wraper .news .latest_news .news_break {
	height: 1px;
	width: 245px;
	margin-left: 2px;
	border-top-style: none;
	float: left;
	margin-top: 20px;
	margin-bottom: 0px;
	background-image: url(../images/main_border.jpg);
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.wraper .content {
	width: 610px;
	margin-left: 20px;
	margin-top: 0px;
	float: left;
	margin-bottom: 100px;
}
.wraper .content_bg {
	background-image: url(../images/main_bg_content.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 930px;
	height: auto;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}
.footer  {
	height: 20px;
	width: 950px;
	float: left;
	margin-top: 10px;
}
.footer  .footer_copyright  {
	font-family: "Segoe UI", Arial;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: right;
	width: 600px;
	z-index: 1000;
	float: left;
}
.footer  .designBy  {
	font-family: "Segoe UI", Arial;
	color: #FFFFFF;
	text-align: right;
	width: 320px;
	float: none;
	font-size: 8px;
	font-weight: bold;
	z-index: 2000;
	padding-left: 620px;
	margin-top: -5px;
}
.bluedesigns {
	font-family: Calibri;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	color: #6DCFF6;
}
.wraper .nav .btn_Home a {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 65px;
	text-align: center;
	margin-top: 2px;
	margin-left: 8px;
	vertical-align: middle;
	padding-top: 3px;
}
.wraper .nav .btn_Home a:hover {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 65px;
	text-align: center;
	margin-top: 2px;
	margin-left: 8px;
	background-color: #74D1F6;
	vertical-align: middle;
	padding-top: 3px;
}
.wraper  .nav  .btn_WhoWeAre  a {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 100px;
	text-align: center;
	margin-top: 2px;
	margin-left: 12px;
	padding-top: 3px;
}
.wraper .nav .btn_WhoWeAre a:hover {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 100px;
	text-align: center;
	margin-top: 2px;
	margin-left: 12px;
	background-color: #74D1F6;
	vertical-align: middle;
	padding-top: 3px;
}

.wraper .nav .btn_OurGoals a {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 88px;
	text-align: center;
	margin-top: 2px;
	margin-left: 10px;
	vertical-align: bottom;
	padding-top: 3px;
}
.wraper .nav .btn_OurGoals a:hover {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 88px;
	text-align: center;
	margin-top: 2px;
	margin-left: 10px;
	background-color: #74D1F6;
	vertical-align: bottom;
	padding-top: 3px;
}
.wraper .nav .btn_OurProjects a {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 100px;
	text-align: center;
	margin-top: 2px;
	margin-left: 12px;
	vertical-align: middle;
	padding-top: 3px;
}
.wraper .nav .btn_OurProjects a:hover {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 100px;
	text-align: center;
	margin-top: 2px;
	margin-left: 12px;
	background-color: #74D1F6;
	vertical-align: middle;
	padding-top: 3px;
}
.wraper .nav .btn_News a {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 60px;
	text-align: center;
	margin-top: 2px;
	margin-left: 11px;
	padding-top: 3px;
}
.wraper .nav .btn_News a:hover {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 60px;
	text-align: center;
	margin-top: 2px;
	margin-left: 11px;
	background-color: #74D1F6;
	padding-top: 3px;
}
.wraper .nav .btn_Contact a {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 78px;
	text-align: center;
	margin-top: 2px;
	margin-left: 13px;
	padding-top: 3px;
}
.wraper .nav .btn_Contact a:hover {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 21px;
	width: 78px;
	text-align: center;
	margin-top: 2px;
	margin-left: 13px;
	background-color: #74D1F6;
	padding-top: 3px;
}
.main_content {
	width: 627px;
	margin-top: 0px;
	float: left;
	margin-bottom: 20px;
	padding-bottom: 50px;
}
.main_content .page_title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 615px;
	margin-top: 25px;
	margin-left: 3px;
	font-size: 18px;
	margin-bottom: 20px;
	float: left;
}
.main_content .text_box_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-top: 13px;
	line-height: 16px;
	width: 580px;
	text-align: justify;
	margin-left: 3px;
	float: left;
}
.main_content .text_box_regular {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
	margin-left: 3px;
	width: 580px;
	text-align: justify;
	margin-top: 0px;
	margin-bottom: 10px;
	float: left;
}
.main_content  .text_box_regular_small  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
	margin-left: 3px;
	width: 220px;
	text-align: left;
	float: left;
	vertical-align: top;
}
.main_content .text_box_bold_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
	margin-left: 3px;
	width: 224px;
	text-align: justify;
	margin-top: 20px;
	font-weight: bold;
	float: left;
}

.main_content .movie {
	height: 226px;
	width: 370px;
	margin-left: 10px;
	float: left;
	background-color: #FF9999;
	border: 1px solid #999999;
}


.wraper .content_bg .call_us {
	background-image: url(../images/call_us.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 40px;
	width: 285px;
	margin-left: 40px;
}


.main_content .text_break {
	background-image: url(../images/main_border.jpg);
	background-repeat: repeat-x;
	height: 2px;
	width: 605px;
	margin: 10px 10px 5px 3px;
	float: left;
}
.main_content .projects_imgs .imgs {
	height: 89px;
	width: 150px;
	margin-right: 2px;
	margin-left: 2px;
	float: left;
	margin-bottom: 5px;
	z-index: 100;
	
}
.main_content .image_box_projects {
	width: 396px;
	float: left;
	margin-left: 8px;
	margin-top: 10px;
}
.main_content .text_projects {
	float: left;
	width: 220px;
	margin-top: 20px;
}
.image_box_projects {
	float: left;
	width: 300px;
}
.main_content .image_box_projects .imgs {
	
	height: 108px;
	width: 183px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
}
.main_content .image_box_projects .projects_img_description {

	height: 15px;
	width: 183px;
	margin-right: 5px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 15px;
}
.main_content .news_box .news_image {
	float: left;
	width: 220px;
}
.main_content .news_box .news_image .news_gallery_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}
.main_content .news_box .news_text_area {
	float: left;
	width: 325px;
	margin-left: 50px;
}
.main_content .news_box .news_text_area .news_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 20px;
	line-height: 15px;
}
.main_content .news_box .news_text_area .news_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	float: left;
	line-height: 14px;
}
.main_content .news_box .news_break {
	background-image: url(../images/main_border.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	float: left;
	height: 1px;
	width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main_content .contact_form .star_place {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #3d85c6;
	width: 2px;
	margin-bottom: 20px;
	margin-left: 4px;
	float: left;
}
.main_content .contact_form .fild_box_name {
	color: #999999;
	width: 330px;
	margin-left: 7px;
	margin-bottom: 15px;
	margin-top: 0px;
	float: left;
	height: 19px;
}
.main_content .contact_form .fild_box_name input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	float: left;
	border: 1px solid #adcceb;
}
.main_content .contact_form .fild_box_email {
	color: #999999;
	width: 330px;
	margin-left: 7px;
	margin-bottom: 20px;
	float: left;
	height: 18px;
}
.main_content .contact_form .fild_box_email input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	float: left;
	border: 1px solid #adcceb;
}
.main_content .contact_form .fild_box_name .star_place {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #74D1F6;
	float: left;
	width: 7px;
	margin-right: 10px;
}
.main_content .contact_form .fild_box_email .star_place {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #74D1F6;
	float: left;
	width: 7px;
	margin-right: 10px;
}
.main_content  .contact_form  .fild_box_comment  textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	float: left;
	border: 1px solid #adcceb;
	margin-bottom: 10px;
}
.main_content .contact_form .contact_btn {
	text-align: center;
	vertical-align: middle;
	width: 330px;
	margin-top: 10px;
	float: left;
}
.main_content .contact_form .contact_btn input {
	font-family: Arial, Helvetica, sans-serif;
	color: #00aeef;
	background-color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 60px;
	border: 1px solid #adcceb;
	font-size: 12px;
	line-height: 14px;
}
.main_content .contact_form .fild_box_comment .star_place {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #74D1F6;
	float: left;
	width: 7px;
	margin-right: 10px;
}
.main_content .contact_form .fild_box_comment {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	float: left;
	height: 35px;
	margin-left: 7px;
	margin-bottom: 20px;
	width: 355px;
}
.text_bold {
	font-weight: bold;
}

.main_content .projects_imgs .who_we_are_img_description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	float: left;
	height: 20px;
	width: 150px;
	margin-bottom: 15px;
}


/** DROP DOWN MENU - START **/
#jsddm{	margin: 0;
	padding: 0;
}
#jsddm li{
	float: left;
	list-style: none;
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	color: #707070;
}
#jsddm li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
	background-color: #FFFFFF;
	padding: 5px 20px 0px 19px;
	text-align: center;
	height: 18px;
	color: #707070;
	margin-top: 2px;
	font-size: 13 pt;
}
#jsddm li a:hover{
	display: block;
	text-decoration: none;
	white-space: nowrap;
	background-color: #74d1f6;
	padding: 5px 20px 0px 19px;
	text-align: center;
	height: 18px;
	color: #ffffff;
	margin-top: 2px;
	font-size: 13px;
}

#jsddm li ul{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: white;
}
#jsddm li ul li{
	float: none;
	display: inline;
	width: 200px;
}
#jsddm li ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
	background-color: #74d1f6;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-right-style: solid;
	border-left-style: none;
	border-right-color: #ffffff;
	border-bottom-color: white;
	border-left-color: white;
	border-top-width: 0px;
	border-left-width: 2px;
	border-top-style: none;
	border-bottom-style: solid;
	border-top-color: white;
	text-align: left;
	height: 18px;
	float: none;
	color: #ffffff;
	margin-top:1px;
	width: 120px;
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 2px;
	padding-left: 5px;
}
#jsddm li ul li a:hover{
	display: block;
	text-decoration: none;
	white-space: nowrap;
	background-color: #6ea1cf;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-right-style: solid;
	border-left-style: none;
	border-right-color: white;
	border-bottom-color: white;
	border-left-color: white;
	border-top-width: 0px;
	border-left-width: 2px;
	border-top-style: none;
	border-bottom-style: solid;
	border-top-color: white;
	text-align: left;
	height: 18px;
	float: none;
	color: #ffffff;
	margin-top: 1px;
	width: 120px;
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 2px;
	padding-left: 5px;
}
/** DROP DOWN MENU - END **/

.main_content .projects_imgs .who_we_are_img_description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	float: left;
	height: 20px;
	width: 150px;
	margin-bottom: 10px;
	margin-right: 2px;
	margin-left: 2px;
}
.main .wraper .nav #jsddm {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 13px;
	height: 26px;
	width: 566px;
	margin-top: 0px;
	padding-top: 0px;
	border: 1px solid #CCCCCC;
	margin-left: 2px;
	float: left;
	padding-left: 2px;
}
.menu_border{
	border-left: 1px solid #CCC;
}
.main .wraper .nav_corporate .nnav_corporate_text a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
}
.main .wraper .nav_corporate .nnav_corporate_text a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
	text-align: center;
	margin-top: 7px;
}
.main .wraper .content_bg .news .latest_news .news_text a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #74d1f6;
	text-decoration: underline;
}

.main .wraper .content_bg .news .latest_news .news_text a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #74d1f6;
	text-decoration: none;
}
/** CONTACT PAGE **/
.contact table tbody th{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	vertical-align: top;
	line-height: 16px;
	font-weight: normal;
	color: #000000;
}
.inputs table tbody td input{
	border: 1px solid #adcceb;
	margin: 0px 0px 5px 0px;
	width: 300px;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
}
.inputs table tbody td span{

}
.inputs table tbody td textarea{
	border: 1px solid #adcceb;
	margin: 0px 0px 5px 0px;
	width: 300px;
	height: 150px;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
}
.inputs table tfoot td input{
	border: 1px solid #adcceb;
	width: 70px;
	height: 20px;
	cursor: pointer;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00aeef;
	text-align: center;
	margin-left: 12px;
	padding-top: -2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}

/** WARNING MESSAGE **/
.j_warning {border:solid 1px #CC3333!important; background-color:#FFCCCC!important; color:#CC3333!important;}




.contact_star {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #3d85c6;
}

.main_content .contact {
	margin-left: 5px;
}
.main_content .projects_imgs .imgs .zoom {
	background-attachment: fixed;
	background-image: url(../images/zoom.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 20000;
	top: 1px;
	right: 1px;
}
.main .wraper .header .banner .bannerBtns {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	height: 18px;
	width: 40px;
	margin-left: 10px;
	margin-top: 5px;
	position: absolute;
	z-index: 100;
}
.main .wraper .header .banner .bannerBtns a {
	text-decoration: none;
	background-color: #211d70;
	float: left;
	height: 14px;
	width: 16px;
	border: 1px solid #38c3fd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin: 1px;
	text-align: center;
}
.main .wraper .header .banner .pushBox {
	position: absolute;
	height: 250px;
	width: 642px;
	top: 10px;
	left: 0px;
}
.main .wraper .header .banner ul {
	list-style-position: outside;
	list-style-type: none;
}
.main  .wraper  .header  .banner  .pushBox  .pushMask1 {
	background-color: #8dc63f;
	height: 236px;
	width: 161px;
	position: absolute;
	right: 20px;
	bottom: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	z-index: 99;
}
.main .wraper .header .banner .pushBox .pushMask2 .more {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	position: absolute;
	bottom: 5px;
	left: 120px;
}

.main   .wraper   .header   .banner   .pushBox   .pusMask1   .banner_text {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
	position: absolute;
	bottom: 20px;
	width: 150px;
	right: 15px;
}
.main   .wraper   .header   .banner   .pushBox   .pusMask1   .banner_logo {
	position: absolute;
	top: 5px;
	left: 20px;
}
.main .wraper .header .banner .pushBox .pushMask2 {
	background-color: #f7941d;
	height: 236px;
	width: 161px;
	position: absolute;
	right: 20px;
	bottom: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	z-index: 70;
}
.main .wraper .header .banner .pushBox .pushMask2 .banner_text {
	font-family: AkzidenzGrotesk, Arial;
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
	position: absolute;
	bottom: 20px;
	width: 150px;
	left: 15px;
}
.main .wraper .header .banner .pushBox .pushMask2 .banner_logo {
	position: absolute;
	top: 5px;
	left: 20px;
}
/*pagination*/
.pagination {margin:20px 0 ;text-align:center; font-family: AkzidenzGrotesk, Arial; font-size: 9px;}
.link {text-decoration:none; border:solid 1px #98e0fd; padding:2px 5px; color:#666666}
.current {background:#02b5fd; color:#FFF;}
a.link:hover {background:#98e0fd; color:#333;}

.main {
	width: 950px;
	margin-top: 50;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}.main_content .image_box_projects .project_gallery {
	float: left;
	height: 125px;
	width: 183px;
	margin-right: 5px;
	margin-left: 5px;
}
.main_content .placeholder {
	height: 10px;
	width: 20px;
	margin-bottom: 50px;
}
